* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #37353E;
    text-align: center;
}

h1 {
    color: #D3DAD9;
    text-align: center;
    padding: 2rem 0;
}

.container {
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .7vmin;
    width: 60vmin;
    height: 60vmin;
}

.box {
    font-size: 8vmin;
    background-color: #DBAFA0;
    color: black;
    border-radius: 2.5vmin;
    box-shadow: 0.5vmin 0.5vmin 1vmin rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.box:hover:not(:disabled) {
    transform: scale(1.05);
}

#reset-btn {
    padding: 3vmin;
    font-size: 3vmin;
    background-color: #27272a;
    color: #fff;
    border-radius: 2vmin;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
}

.popup-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.popup-content {
    background-color: #ede4dd;
    padding: 5vmin 3vmin;
    border-radius: 3vmin;
    animation: pop 0.3s ease-out;
    text-align: center;
}

#play-again-btn {
    padding: 2vmin 3vmin;
    font-size: 4vmin;
    background-color: #6c2e72;
    color: #fff;
    border-radius: 2vmin;
    border: none;
    cursor: pointer;
}

@keyframes pop {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

#game-status {
    font-size: 6vmin;
    font-weight: bold;
    margin-bottom: 2vmin;
    text-align: center;
}

#msg {
    font-size: 4vmin;
    margin-bottom: 3vmin;
    text-align: center;
}

@keyframes glow {
    0%, 100% {
        filter: brightness(1);
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
    }
    50% {
        filter: brightness(1.1);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
}

.winning-box {
    background-color: #fdbda8 !important;
    color: white !important;
    font-weight: bold;
    border: 2px solid #fff;
    animation: glow 1s infinite ease-in-out;
}
